
.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  padding: 1vw;
}

.div-logo {
  padding: 10px;
  display: flex;
}

.App-qrtg {
  height: 10vmin;
  float: right;
  position: relative;
  margin: 5px;
  margin-left: 6%;
  padding: 1vmin;
}

.App-qrvk {
  height: 10vmin;
  float: right;
  position: relative;
  margin: 5px;
  padding: 1vmin;
}

.h2 {
  font-size: 1.5vw;
}

.post { 
  font-size: 18px;
  font-weight: bold;
}

.tr_post{
  background-color: rgb(241, 241, 241);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 1%;
}

.styled-table thead tr {
  background-color: #fff;
  color: #02319b;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;   
}

.styled-table tbody tr {
  border: 1px solid #FFF;
  border-radius: 1%;
}

.thead {
  border-bottom: solid;
  border-bottom-color: rgb(2, 49, 155);
}

.core {
  width: 30%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  position:relative;
  height: 50px;
  --search-box-radius: 22px;
  user-select: none;
  --elevation: 4;
  border-radius: var(--search-box-radius);
  transition: none;
  position: relative;
  overflow: hidden;
  min-width: 420px;
  background: var(--neutral-layer-floating);
  font-family: var(--body-font);
  box-shadow: 0 0 calc((var(--elevation)* 0.225px) + 2px) rgba(0, 0, 0, calc(.11 * (2 - 1))), 0 calc(var(--elevation)* 0.4px) calc((var(--elevation)* 0.9px)) rgba(0, 0, 0, calc(.13 * (2 - 1)));
}

.core #q {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  padding: calc(var(--design-unit)* 2px + 2px) 12px calc(var(--design-unit)* 2px + 2px) 12px;
  color: var(--neutral-foreground-rest);
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  width: 10%;
  font-family: inherit;
  flex: 1;
  padding-inline-start: 16px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.up-button {
   border: none;
  background: transparent;
  cursor: pointer;
  bottom: 5%;
  left: 97%;
  position: fixed;
}

.up-image {
  height: 50px;
}

.goTopHidden{
  display: none;
}

.search-image {
  height: 2vmin;
}


.h1 {
	font-size: 100px;
}

.trace {
    padding: 10px;
    display: flex;
}

.core-img {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  position:relative;
  height: 50px;
  transition: none;
  position: relative;
  overflow: hidden;
  min-width: 420px;
}

.list-button {
  width: 270px;
  height: 150px;
  background-color: #FFF;
  border-color: #02319b;
  border-width: 2px;
  border-style: solid;
  border-radius: 22px;
  box-shadow: 0 0 calc((var(--elevation)* 0.225px) + 2px) rgba(0, 0, 0, calc(.11 * (2 - 1))), 0 calc(var(--elevation)* 0.4px) calc((var(--elevation)* 0.9px)) rgba(0, 0, 0, calc(.13 * (2 - 1)));
  --elevation: 4;
  margin-left: 10px;
  
}

.list-button-hidden { 
  width: 270px;
  height: 150px;
  background-color: transparent;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 22px;
  --elevation: 4;
  margin-left: 10px;
  float: right;
  position: absolute;
  left: 89%;
}

.list-image {
  height: 800px;
  width: 1000px;
  max-width: 100%;
  max-height: 100%;
}

.list-image-des {
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}

.list-div {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.list-logo {
  padding: 10px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.list-qrtg {
  height: 10vmin;
  float: right;
  position: relative;
  margin: 5px;
  padding: 1vmin;
}

.list-div-in {
  display: flex;
  justify-content: center;
}

.image-container {
  width: 350px;
  height: 200px; 
  overflow: hidden;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(100%);
  animation: slideUp 2s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

.table {
  margin-left: 20px;
}